<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add action="suttonsilver_outofstocknotification/notifications/index" id="SuttonSilver::suttonsilver_notifications" module="SuttonSilver_OutOfStockNotification" parent="Magento_Catalog::catalog" resource="Magento_Backend::content" sortOrder="9999" title="Out of Stock Notifications"/>
	</menu>
</config>
